<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Mageinn_Advusers extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category    Mageinn
 * @package     Mageinn_Advusers
 * @copyright   Copyright (c) 2016 Mageinn. (http://mageinn.com/)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */

/**
 * @category   Mageinn
 * @package    Mageinn_Advusers
 * @author     Mageinn
 */
-->
<config>
    <tabs>
        <mageinn>
            <label>Mageinn</label>
            <sort_order>150</sort_order>
            <class>mageinn</class>
        </mageinn>
    </tabs>
    <sections>
        <mageinn_advusers translate="label" module="mageinn_advusers">
            <tab>mageinn</tab>
            <label>Advanced Users</label>
            <sort_order>120</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>0</show_in_store>
            <groups>
                <general translate="label">
                    <label>General</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <enabled>
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </enabled>
                        <debug_mode>
                            <label>Debug Mode</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </debug_mode>
                        <enable_order_permission>
                            <label>Enable Order Permissions</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </enable_order_permission>
                        <new_order_notification_template translate="label">
                            <label>New Order Notification Template</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>15</sort_order>
                            <source_model>adminhtml/system_config_source_email_template</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment></comment>
                        </new_order_notification_template>
                        <order_update_notification_template translate="label">
                            <label>Order Update Notification Template</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>20</sort_order>
                            <source_model>adminhtml/system_config_source_email_template</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment></comment>
                        </order_update_notification_template>
                        <rma_notification_template translate="label">
                            <label>RMA Notification Template</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>30</sort_order>
                            <source_model>adminhtml/system_config_source_email_template</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Used only with aheadWorks RMA module</comment>
                        </rma_notification_template>
                        <whitelisted_payments>
                            <label>Whitelisted Payment Methods</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Please specify the payment method codes separated by comma. If the payment method is whitelisted a notification will be sent even if the invoice is not created.</comment>
                        </whitelisted_payments>
                    </fields>
                </general>
            </groups>
        </mageinn_advusers>    
    </sections>
</config>